{% extends 'main/dada.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <h3>Прооо нас</h3>
    <div class="features">
        <h1>{{ title }}</h1>
        <p>kkdjwsn 7hhseva hcdiuhnisah hcdiwhuwshu</p>
        <button class="btn btn-warning">NA stranicu pro nas</button>
        
        <!-- {% for el in main %}
            <div class="alert alert-warning">
                <h3>{{ el.name }}</h3>
                <h5>{{ el.age }}</h5>
            </div>
            <div class="job-cards-container" id="jobCards">
            </div>
            
        {% endfor %} -->
    </div>
{% endblock %}
